%h2 Volunteer Offerings
%table
  %tr
    %th User
    %th Volunteer task
    %th Alternative contact
  - @volunteer_offerings.each do |volunteer_offering|
    %tr
      %td= h volunteer_offering.user.name
      %td= h volunteer_offering.volunteer_task.name
      %td= h volunteer_offering.alt_contact
      %td= link_to 'Show', volunteer_offering
      %td= link_to 'Edit', edit_volunteer_offering_path(volunteer_offering)
      %td= link_to 'Destroy', volunteer_offering, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New volunteer_offering', new_volunteer_offering_path
