<h2>Volunteer Offerings</h2>

<table>
  <tr>
    <th>Member</th>
    <th>Volunteer task</th>
    <th>Alternative contact</th>
  </tr>

<% @volunteer_offerings.each do |volunteer_offering| %>
  <tr>
    <td><%=h volunteer_offering.member.name %></td>
    <td><%=h volunteer_offering.volunteer_task.name %></td>
    <td><%=h volunteer_offering.alt_contact %></td>
    <td><%= link_to 'Show', volunteer_offering %></td>
    <td><%= link_to 'Edit', edit_volunteer_offering_path(volunteer_offering) %></td>
    <td><%= link_to 'Destroy', volunteer_offering, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New volunteer_offering', new_volunteer_offering_path %>