<p>
	<b>Member:</b>
	<%=h @volunteer_offering.member_id %>
</p>

<p>
	<b>Volunteer task:</b>
	<%=h @volunteer_offering.volunteer_task_id %>
</p>

<p>
	<b>Alt contact:</b>
	<%=h @volunteer_offering.alt_contact %>
</p>


<%= link_to 'Edit', edit_volunteer_offering_path(@volunteer_offering) %> |
<%= link_to 'Back', volunteer_offerings_path %>
