%h1 Forum Topics
%table
  %tr
    %th Subject
    %th Forum category
  - @forum_topics.each do |forum_topic|
    %tr
      %td= h forum_topic.subject
      %td= h forum_topic.forum_category_id
      %td= link_to 'Show', forum_topic
      %td= link_to 'Edit', edit_forum_topic_path(forum_topic)
      %td= link_to 'Destroy', forum_topic, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New forum_topic', new_forum_topic_path
