
<h2>Forum Discission</h2>

<h3><%=h @forum_topic.subject %></h3>

<p>
  <b>Forum category:</b>
  <%=h @forum_topic.forum_category.name %>
</p>

<div id="posts">
	<% @forum_topic.forum_posts.each do |post| %>
		<div class="post">
			<b>Posted by: <%= post.member.name if post.member %></b>
			<% post.body.lines.each do |line| %>
				<p><%= line %></p>
			<% end %>
		</div>
	<% end %>
</div>

<% if logged_in? %>
<div id="new_post">
	<h3>Your thoughts...</h3>
	<% form_for(@forum_topic.forum_posts.build) do |f| %>
		<%= f.label :body %><br />
		<%= f.text_area :body %>
		<%= f.hidden_field :forum_topic_id, :value => @forum_topic.id %>
		<p><%= f.submit "Post"%></p>
	<% end %>
</div>
<% else %>
	<h3>You must be <%= link_to "logged in", "/login" %> to add to this discussion.</h3>
<% end %>

<% if admin? %>
	<%= link_to 'Edit', edit_forum_topic_path(@forum_topic) %> |
<% end %>

<%= link_to 'Main Forum Page', forum_topics_path %>