%h2 Listing memberships
- if !@memberships.empty?
	%table.memberships
		%tr
			%td
				%strong= link_to "First Name", memberships_url + "?order=first_name"
			%td
				%strong= link_to "Last Name", memberships_url + "?order=last_name"
			%td
				%strong= link_to "Email", memberships_url + "?order=email"
			%td
				%strong= link_to "Newsletters?", memberships_url + "?order=accepts_newsletters"
		= render :partial => "membership", :collection => @memberships

	= will_paginate(@memberships)
- else
	%p There are no memberships to show yet.
= link_to 'New membership', new_membership_path
