<h1>Editing user_product_request_join</h1>

<%= form_for(@user_product_request_join) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :user_id %><br />
		<%= f.text_field :user_id %>
	</p>
	<p>
		<%= f.label :product_request_id %><br />
		<%= f.text_field :product_request_id %>
	</p>
	<p>
		<%= f.submit 'Update' %>
	</p>
<% end %>

<%= link_to 'Show', @user_product_request_join %> |
<%= link_to 'Back', user_product_request_joins_path %>
