<h2>Frequently Asked Questions</h2>

<% @faqs.each do |faq| %>
  	<h4><%=h faq.question %></h4>
	<p><%=h faq.answer %></p>
	<% if admin? %>
		<p>
			<%= link_to "Edit", edit_faq_path(faq) %> |
			<%= link_to "Delete", faq, :confirm => "Are you sure?", :method => :delete %>
		</p>
	<% end %>
<% end %>

<br />

<% if admin? %>
	<%= link_to 'New faq', new_faq_path %>
<% end %>