- if current_member
	#ordering_instructions
		%h2 Ordering Instructions
		#preamble
			%h3 PLEASE READ ALL OF THESE INSTRUCTIONS CAREFULLY BEFORE CONTINUING! Failure to do so may result in additional charges!
			= display_content(@content[:wholesale_ordering_preamble])
		#specific_instr
			#unfi_instr
				%h3 UNFI
				= display_content(@content[:wholesale_ordering_unfi])
			#azures_instr
				%h3 Azure Standard
				= display_content(@content[:wholesale_ordering_azures])
		#the_rest
			= display_content(@content[:wholesale_ordering_rest])
- else
	%h2 Wholesale Ordering
	%p 
		The coop offers wholesale ordering to our members. To see the wholesale ordering instructions, please 
		= link_to "login", "/login"
		or 
		= link_to "signup.", "/signup"
