<p>
  <b>Name:</b>
  <%=h @distributor.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @distributor.address %>
</p>

<p>
  <b>Website:</b>
  <%=h @distributor.website %>
</p>


<%= link_to 'Edit', edit_distributor_path(@distributor) %> |
<%= link_to 'Back', distributors_path %>