%h2 Edit Newsletter

= form_for @newsletter do |f|
	= render :partial => "newsletter_form", :locals => {:f => f}
	%p= f.submit "Update"
	
= link_to "Show", @newsletter
|
= link_to "Destroy", @newsletter, :confirm => "Are you sure?", :method => :delete
|
= link_to "Back", newsletters_path
