<tr class="category_row">
    <td><h3><%= status.name %></h3></td>
	<% if admin? %>
    	<td></td>
	<% end %>
</tr> 
<% i= 0%>
<% status.product_requests.each do |request| %>
	<tr class="row<%= i.modulo 2 %>" class="topic_row">
		<td class="subject"><%=link_to request.description, product_request_path(request) %></td>
		<% if admin? %>
			<td>
				<% form_for(request) do |request_form| %>
					<%= request_form.collection_select :product_request_status_id, statuses, :id, :name, {:prompt => "Select a new status"}, {:class => "dynamic_control"} %>
					<%= request_form.hidden_field :description %>
				<% end %>
			</td>
		<% end %>
	</tr>
	<% i += 1%>
<% end %>