

<h2>The Barter Board</h2>

<p><b>Sort by</b><%= %></p>

<% if current_member %>
	<%= link_to "Create a new Barter Board Entry", new_barter_board_entry_path %>
<% end %>

<br />

<table class="groovy_table">
	<% @barter_board_categories.each do |category| %>
		<tr class="category_row">
			<% if true%>
			    <td><h3><%= category.name %></h3></td>
				<td></td>
			<% else %>
			<% end %>
		</tr> 
		<tr  class="category_row">
			<td><h4>Offered</h4></td>
			<td><h4>Wanted</h4></td>
		</tr>
		<% i= 0%>
		<% category.barter_board_entries.each do |entry| %>
			<tr class="row<%= i.modulo 2 %>" class="topic_row">
				<td><%= link_to entry.offered, barter_board_entry_path(entry) %></td>
				<td><%= h entry.wanted %></td>
			</tr>
			<% i += 1 %>
		<% end %>
	<% end %>
</table>

<br />



<% if admin? %>
	Admin Only - <%= link_to 'New barter_board_category', new_barter_board_category_path %>
<% end %>