= f.error_messages
= f.hidden_field :order, :value => task_order_number
%p
	%b= f.label :name
	%br/
	= f.text_field :name
= render :partial => "partials/textile_form", :locals => {:object => "volunteer_task", :method => "description"}