<h1>Listing member_product_request_joins</h1>

<table>
	<tr>
		<th>Member</th>
		<th>Product request</th>
	</tr>

<% @member_product_request_joins.each do |member_product_request_join| %>
	<tr>
		<td><%=h member_product_request_join.member_id %></td>
		<td><%=h member_product_request_join.product_request_id %></td>
		<td><%= link_to 'Show', member_product_request_join %></td>
		<td><%= link_to 'Edit', edit_member_product_request_join_path(member_product_request_join) %></td>
		<td><%= link_to 'Destroy', member_product_request_join, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New member_product_request_join', new_member_product_request_join_path %>
