<h1>New member_product_request_join</h1>

<% form_for(@member_product_request_join) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </p>
  <p>
    <%= f.label :product_request_id %><br />
    <%= f.text_field :product_request_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', member_product_request_joins_path %>