%h2 Editing Forum Category
= form_for(@forum_category) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.submit 'Update'
= link_to 'Show', @forum_category
|
\#{link_to 'Back', forum_categories_path}
