<h2>Discussion Forum</h2>

<p id="forum_cat_exp">Only the last several most recent discussions are included in this list. For  complete lists of discussions, click on the appropriate "See all discussions..." link.</p>


<% if admin? %>
	<p>If you are an admin you have the power to create a new forum category, but please do not do this unless you have discussed it with the rest of the board. We don't want to clutter this thing up - Keep It Simple!</p>
	<%= link_to('New Forum Category', new_forum_category_path) %>
<% end %>

<% if logged_in? %>
	<%= link_to 'Begin a New Discussion', new_forum_topic_path, :id => "new_topic_link" %>
<% else %>
	<%= link_to 'Log in to post', new_session_path, :id => "new_topic_link" %>
<% end %>

<table id="forum_table">
	<% @forum_categories.each do |category| %>
		<%= render :partial => "category", 
		:locals => {:category => category, :all_discussions_link => true}%>
	<% end %>
</table>

<br />

<% if admin? %>
	<%= link_to('New Forum Category', new_forum_category_path) %>
<% end %>