
<h2>The Barter Board</h2>

<p><b>Sort by - 
	<%= link_to "Offered", barter_board_entries_path << "?sort_by=offered"%> or
	<%= link_to "Wanted", barter_board_entries_path << "?sort_by=wanted"%></b> </b></p>

<% if current_member %>
	<%= link_to "Create a new Barter Board Entry", new_barter_board_entry_path %>
<% end %>

<br />

<table class="groovy_table">
	<% @barter_board_entries_hash.each do |cat, entries| %>

		<tr  class="category_row">
			<td><h4>Offered - <%= cat.name unless params[:sort_by] == "wanted"%></h4></td>
			<td><h4>Wanted - <%= cat.name if params[:sort_by] == "wanted"%></h4></td>
		</tr>
		<% i= 0%>
		<% entries.each do |entry| %>
			<tr class="row<%= i.modulo 2 %>" class="topic_row">
				<td><%= link_to entry.offered, barter_board_entry_path(entry) %></td>
				<td><%= link_to entry.wanted, barter_board_entry_path(entry) %></td>
			</tr>
			<% i += 1 %>
		<% end %>
	<% end %>
</table>

<br />



<% if admin? %>
	<%= link_to 'New barter_board_category', new_barter_board_category_path %>
<% end %>