<p>
  <b>Offered:</b>
  <%=h @barter_board_entry.offered_category.name %> - <%=h @barter_board_entry.offered %>
</p>

<p>
  <b>Wanted:</b>
  <%=h @barter_board_entry.wanted_category.name %> - <%=h @barter_board_entry.wanted %>
</p>

<p>
  <b>Details:</b>
  <%=h @barter_board_entry.details %>
</p>

<p>
  <b>Contact info:</b>
  <%=h @barter_board_entry.contact_info %>
</p>

<% if admin? or current_member == @barter_board_entry.member %>
	<%= link_to 'Edit', edit_barter_board_entry_path(@barter_board_entry) %> |
<% end %>
<%= link_to 'Back', barter_board_entries_path %>