<h1>Listing events</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Details</th>
    <th>Date</th>
    <th>Time</th>
    <th>Event category</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.description %></td>
    <td><%=h event.details %></td>
    <td><%=h event.date %></td>
    <td><%=h event.time %></td>
    <td><%=h event.event_category_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>