<h2>Coop Board Members</h2>


<% @board_members.each do |board_member| %>
	<% if admin? or board_member.active? %>
		<div class="board_member">
			<% image_url = board_member.image_url %>
			<% unless image_url.nil? or image_url.empty? %>
				<%= image_tag image_url, :alt => "picture"%>
			<% end %>
			<h4><%=h board_member.name %> - 
				<%=h board_member.role %> 
				<% if admin? %>
					- <%= link_to "Edit", edit_board_member_path(board_member) %>
				<% end %>
			</h4>
			<p><%=h board_member.description %></p>
		</div>
	<% end %>
<% end %>

<br />

<% if admin? %>
	<%= link_to 'New board_member', new_board_member_path %>
<% end %>