%h1 Forum Posts
%table
  %tr
    %th Body
    %th Forum topic
  - @forum_posts.each do |forum_post|
    %tr
      %td= h forum_post.body
      %td= h forum_post.forum_topic_id
      %td= link_to 'Show', forum_post
      %td= link_to 'Edit', edit_forum_post_path(forum_post)
      %td= link_to 'Destroy', forum_post, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New forum_post', new_forum_post_path
