
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
	%head
		%meta(http-equiv="content-type" content="text/html;charset=UTF-8")
		%title= "SJIFoodCoop: #{controller.action_name}"
		= stylesheet_link_tag 'application'
		= javascript_include_tag :defaults
		= csrf_meta_tag
		= yield(:head)
		
	%body
		#sidebar
			%h3 Navigation
			%p= link_to("Home", "/")
			%p= link_to("FAQs", faqs_path)
			%p= link_to("Coop Board", board_members_path)
			%p= link_to("Links and Resources", "/content/links")
			%p= link_to("By-Laws (pdf)", "http://metasoarous.s3.amazonaws.com/coop by-laws (5-09).pdf")
			%p= link_to("Becoming a Member", "/content/becoming_a_member")
			%p= link_to("Your Settings", member_path(current_member)) if logged_in?
			- if admin?
				%h3 Admin
				%p= link_to("Content Items", content_items_path)
				%p= link_to("Member Index", members_path)
				%p= link_to("Membership Index", memberships_path)
		#wrapper
			#user_panel
				- if logged_in?
					%p= "Hi #{current_member.first_name}! - #{link_to "Settings", member_path(current_member)} | #{link_to("Logout", "/logout")}"
				- else
					%p= "Login or Sign Up - #{link_to("Login", "/login")} | #{link_to("Sign Up", "/signup")}"
			#wrapper2
				#header
					%h1 San Juan Island Food Co-op
				#tabs_container
					= create_tabs active_tab(request.path_parameters[:controller]), [:home, "/welcome"], [:news, newsletters_path], [:forum, forum_categories_path], [:requests, product_requests_path], [:wholesale_orders, wholesale_orders_path], [:volunteer, volunteer_tasks_path]
				#content_container
					%p(style="color: green")= flash[:notice]
					%p(style="color: red")= flash[:error]
					%p(style="color: red")= flash[:alert]
					- if active_tab(request.path_parameters[:controller]) == :home or true
						#content
							#inner_content
								= yield
							#placeholder
					- else
						= yield
			#footer
				#image
					%img#rails(src="/images/rails.png" alt="rails logo")/
					%p 
						This 
						%a(href="http://railslogo.com/") logo 
						is released under a
						%a(href="http://creativecommons.org/licenses/by-nd/3.0/") creative commons license.
				#text
					%br/
					%p This site was designed by Christopher Small using the Ruby on Rails web development framework.