<h1>Sign up as a new user</h1>
<% @member.password = @member.password_confirmation = nil %>

<%= error_messages_for :member %>
<% form_for :member, :url => members_path do |f| -%>
<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'first_name' %><br/>
<%= f.text_field :first_name %></p>

<p><%= label_tag 'last_name' %><br/>
<%= f.text_field :last_name %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
